:root {
    /* primary */
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    /* neutral */
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('./assets//fonts/PlusJakartaSans-VariableFont_wght.ttf'),
         url('./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  }

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--light-grayish-blue-1);
    min-height: 100vh;
}
main{
    background-color: var(--white);
    width: 53%;
    margin: auto;
    padding: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 1.5em;
}
header h1 div{
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
}
header button{
    border: none;
    background: none;
    color: var(--dark-grayish-blue);
    font-size: 1em;
    font-weight: 500;
}
header button:hover{
    color: var(--blue);
}
section{
    display: flex;
    align-items: center;
    border-radius: 5px;
}
section:hover{
    background: var(--light-grayish-blue-1);
    cursor: pointer;
}
section img {
    width: 3em;
    height: 3em;
    margin-left: 1em;
    margin-right: 1em;
}
section div{
    padding-bottom: 11px;
}
section div span{
    color: var(--dark-grayish-blue);
}
section div p{
    margin-bottom: 5px;
}
section div p strong:hover{
    color: var(--blue);
}
section div p a:hover{
    color: var(--blue);
}
.punto{
    display: flex;
    background: var(--red);
    width: 5px;
    height: 5px;
    border-radius: 2px;
}


.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    /* bottom: 10px; */
    width: 100%;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (max-width: 375px){
    main{
        width: 100%;
        margin: 0;
        padding: 1em;
    }
}